<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'HorizonX', styles:
  '/css/index.css'}) %>
  <body>
    <%- include('./partials/header.ejs') %>
          
    <div class="main-header-banner">
      <h2 class="main-header-banner-title">Galaxy Z Flip5</h2>
      <video autoplay muted class="main-header-banner-video-mobile">
        <source src="/videos/HOME_B5_Main-KV_720x1080_mo_default.webm" />
      </video>
      <video autoplay muted class="main-header-banner-video-tablet-pc">
        <source src="/videos/HOME_B5_Main-KV_1440x640_pc_default.webm" />
      </video>
    </div>
    <div class="image-slice">
      <img src="/images/products/slice1.jpg" alt="Imagen 1">
      <img src="/images/products/slice2.jpg" alt="Imagen 3">
      <img src="/images/products/slice3.jpg" alt="Imagen 3">
  </div>
    <main class="container">
      <% categories.forEach(category => { %>
      <br />
      <h2 class="subtitle"><%= category.name.toUpperCase(0) %></h2>
      <br />
      <section class="product-container">
        <% products.forEach(product => { %> <% if (product.category.name ===
        category.name) { %>
        <a href="/products/detail/<%= product.id %>">
          <%- include('./products/partials/card.ejs', {product}) %>
        </a>
        <% } %> <% }) %>
      </section>
      <% }); %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
