<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: 'Carrito', styles:
    '/css/cart2.css'}) %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container-cart">
      <div class="container-items">
        <% cart.items.forEach(item => { %> <%- include('./partials/item.ejs',
        { item }) %> <hr> <% }) %>
      </div>
      <%- include('./partials/summary.ejs', { cart }) %>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/confirmBuy.js"></script>
  </body>
</html>
