<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Registrate', styles:
  '/css/register.css'}) %>
  <body>
    <header class="main-header2">
      <div class="main-header-top-bar2">
        <div class="logo-container">
          <P class="horizonL">HORIZON</P>
          <a class="logo-link" href="/"
          ><img class="main-header-logo" src="/images/2logo.png" alt="Logo"
        /></a>
        </div>
      </div>
    </header>
    <main class="main-reg">
      <div class="form-div">
        <h3>Crear una cuenta</h3>
        <hr />
        <h4>Información personal</h4>
        <form
          id="formRegister"
          action="/users/register"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="text"
            id="firstName"
            name="firstName"
            placeholder="Nombre"
            class="txt-inp"
            value="<%= locals.oldData && oldData.firstName ? oldData.firstName : null %>"
          />
          <p id="firstNameError" class="error">
            <%= locals.errors && errors.firstName?.msg %>
          </p>
          <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Apellido"
            class="txt-inp"
            value="<%= locals.oldData && oldData.lastName ? oldData.lastName : null %>"
          />
          <p id="lastNameError" class="error">
            <%= locals.errors && errors.lastName?.msg %>
          </p>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="txt-inp"
            value="<%= locals.oldData && oldData.email ? oldData.email : null %>"
          />
          <p id="emailError" class="error">
            <%= locals.errors && errors.email?.msg %>
          </p>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            class="txt-inp"
          />
          <p id="passwordError" class="error">
            <%= locals.errors && errors.password?.msg %>
          </p>
          <br />
          <label for="image">Imagen de perfil: </label>
          <br />
          <input
            type="file"
            name="avatar"
            accept="image/png, image/jpeg"
            id="image"
          />
          <br />
          <p id="imageError" class="error">
            <%= locals.errors && errors.image?.msg %>
          </p>
          <br />
          <button type="submit" class="btn">Registrarse</button>
        </form>
      </div>
    </main>

    <script src="/js/userFormValidation.js"></script>
  </body>
</html>
