<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs', {title: 'Creación de producto', styles:
  '/css/create.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="form-container">
      <form
        id="formCreate"
        action="/products/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <h3>Crear Producto</h3>
        <hr />
        <div class="primera-linea">
          <div class="primer-div">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" class="input-field"
            value="<%= locals.oldData && oldData.name ? oldData.name : null %>" />
            <p id="nameError" class="error"><%= locals.errors && errors.name?.msg %></p>
          </div>
          <div class="primer-div">
            <label for="brand">Marca:</label>
            <select name="brand" id="brand" class="input-field">
              <option value="" selected disabled>Selecciona una marca</option>
              <% brands.forEach(brand => { %>
                <option value="<%= brand.id %>" <%= locals.oldData && oldData.brand == brand.id ? 'selected' : null %>> <%= brand.name %></option>
              <% }) %>
            </select>
              <p id="brandError" class="error"><%= locals.errors && errors.brand?.msg %></p>
          </div>
        </div>

        <div class="primera-linea">
          <div class="primer-div">
            <label for="color">Color:</label>
            <div id="colorShow"></div>
            <select name="color" id="color" class="input-field">
              <option value="" selected disabled>Selecciona un color</option>
              <% colors.forEach(color => { %>
                <option id="<%=color.cod_hex%>" value="<%= color.id %>" <%= locals.oldData && oldData.color == color.id ? 'selected' : null %>> <%= color.name %></option>
              <% }) %>
            </select>
              <p id="colorError" class="error"><%= locals.errors && errors.color?.msg %></p>
          </div>

          <div class="primer-div">
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" class="input-field" value="<%= locals.oldData && oldData.price ? oldData.price : null %>"  />
              <p id="priceError" class="error"><%= locals.errors && errors.price?.msg %></p>
          </div>
        </div>
        <div class="primera-linea">
          <div class="primer-div">
            <label for="category">Categoría:</label>
            <select name="category" id="category" class="input-field">
              <option value="" selected disabled>Selecciona una categoría</option>
              <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= locals.oldData && oldData.category == category.id ? 'selected' : null %>> <%= category.name.charAt(0).toUpperCase() + category.name.slice(1) %></option>
              <% }) %>
            </select>
              <p id="categoryError" class="error"><%= locals.errors && errors.category?.msg %></p>
          </div>

          <div class="primer-div">

            <label for="stock_quantity">Cantidad de stock:</label>
            <input type="number" id="stock_quantity" name="stock_quantity" class="input-field" value="<%= locals.oldData && oldData.stock_quantity ? oldData.stock_quantity : null %>"  />
              <p id="stockQuantityError" class="error"><%=locals.errors && errors.stock_quantity?.msg %></p>
          </div>
        </div>
        <label for="description">Descripción:</label>
        <textarea
          id="description"
          name="description"
          class="input-field"
          rows="4"
        ><%= locals.oldData && oldData.description ? oldData.description : null %></textarea>
          <p id="descriptionError" class="error"><%= locals.errors && errors.description?.msg %></p>
        <label for="image">Imagenes:</label>
        <input
          class="insert-img"
          type="file"
          id="image"
          name="images"
          accept=".jpg, .jpeg, .png"
          multiple
        />
        <p id="imageError" class="error"><%= locals.errors && errors.image?.msg %></p>
        <div class="button-ubicacion">
          <button class="btn" type="submit">Crear</button>
        </div>
      </form>

      <a href="/products" class="button-ubicacion">
        <button class="btn" type="submit">Volver</button>
      </a>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/colorShow.js"></script>
<script src="/js/productFormValidation.js"></script>
  </body>
  
</html>
