<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Detalle', styles:
  '/css/productDetail.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <main class="container">
      <section class="product-section">
        <div class="product-details">
          <div class="product-card">
            <h2 class="product-title">
              <%=product.brand.name +' '+ product.name %>
            </h2>
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <% product.images.forEach(image => { %>
                <div class="swiper-slide">
                  <img
                    src="/images/products/<%= image.image_filename %>"
                    alt="<%= product.name %>"
                  />
                </div>
                <% }) %>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="product-info">
            <p class="product-description"><%= product.description %></p>
            <div class="product-color-container">
              <p>Color: <%= product.color.name %></p>
              <span class="product-color"></span>
            </div>
            <div class="price-pay">
              <div class="form-pay">
                <p>Todas las formas de pago</p>
                <div class="form-pay2">
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/cabal26.png"
                      alt="Cabal"
                      class="target-form2"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/visa26.png"
                      alt="Visa"
                      class="target-form1"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/mastercard26.png"
                      alt="MasterCard"
                      class="target-form1"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/american-express26.png"
                      alt="Cabal"
                      class="target-form2"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/cash-icon-checkout.svg"
                      alt="Cabal"
                      class="target-form1"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/ico-mercadopago.png"
                      alt="Cabal"
                      class="target-form1"
                      crossorigin="anonymous"
                    />
                  </div>
                  <div class="target">
                    <img
                      src="https://armoto.vtexassets.com/arquivos/modo.png"
                      alt="Cabal"
                      class="target-form1"
                      crossorigin="anonymous"
                    />
                  </div>
                </div>
              </div>
            </div>
            <p class="price">
              $<%= Number(product.price).toLocaleString('es-AR', {
              minimumFractionDigits: 2 }) %>
            </p>
            <div class="buttons">
              <form
                action="/cart/add/<%= product.id %>"
                method="POST"
                style="display: inline-flex"
              >
                <button type="submit" class="btn">Agregar al carrito</button>
              </form>
              <% if (locals.isLogged && locals.userLogged.role.name ==
              'administrador') { %>
              <a href="/products/edit/<%= product.id %>" class="btn">Editar</a>
              <form
                id="formDelete"
                action="/products/delete/<%= product.id %>?_method=DELETE"
                method="POST"
                style="display: inline-flex"
                enctype="multipart/form-data"
              >
                <button type="submit" class="btn">Eliminar</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
      });
      //Color del producto
      document.querySelector(".product-color").style.backgroundColor =
        "<%=product.color.cod_hex%>";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/deleteProduct.js"></script>
  </body>
</html>